<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/base_admin::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Quản lý Đơn hàng</title>
</head>
<body>
	<section>
		<div class="container-fluid">
			<div class="row">
				<p class="text-center fs-3 mt-2">Tất cả Đơn hàng</p>
				<hr>
				<th:block th:if="${session.succMsg}">
					<p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
					<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>

				<th:block th:if="${session.errorMsg}">
					<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
					<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>

				<div class="col-md-4 p-4">
					<form action="/admin/search-order" method="get">
						<div class="row">
							<div class="col">
								<input type="text" class="form-control" name="orderId"
									placeholder="Nhập mã đơn hàng">
							</div>
							<div class="col">
								<button class="btn btn-primary col">Tìm kiếm</button>
							</div>
						</div>
					</form>
				</div>

				<div class="col-md-12 ps-4 pe-4">
					<table class="table table-bordered card-sh align-middle text-center">
						<thead class="table-light">
							<tr>
								<th scope="col">Mã đơn</th>
								<th scope="col">Thông tin giao hàng</th>
								<th scope="col">Ngày đặt</th>
								<th scope="col">Số lượng / Tổng tiền</th>
								<th scope="col">Trạng thái</th>
								<th scope="col">Hành động</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${srch}">
								<th:block th:if="${orderDtls!=null}">
									<tr>
										<th scope="row" class="text-primary">[[${orderDtls.orderId}]]</th>
										<td class="text-start">Họ tên: [[${orderDtls.orderAddress.firstName+' '+orderDtls.orderAddress.lastName}]]<br> 
											Email: [[${orderDtls.orderAddress.email}]] <br> 
											SĐT: [[${orderDtls.orderAddress.mobileNo}]] <br> 
											Địa chỉ: [[${orderDtls.orderAddress.address}]], [[${orderDtls.orderAddress.city}]], [[${orderDtls.orderAddress.state}]], [[${orderDtls.orderAddress.pincode}]]
										</td>
										<td>[[${orderDtls.orderDate}]]</td>
										<td>
											<span class="badge bg-secondary mb-1">[[${orderDtls.totalQuantity}]] sản phẩm</span> <br> 
											<span class="text-danger fw-bold">[[${#numbers.formatDecimal(orderDtls.totalAmount, 0, 'COMMA', 0, 'POINT')}]] VNĐ</span>
										</td>
										<td><span th:switch="${orderDtls.status}"> 
												<span th:case="'Pending'" class="badge bg-secondary">Đang xử lý</span> 
												<span th:case="'Received'" class="badge bg-info">Đã nhận đơn</span> 
												<span th:case="'Packed'" class="badge bg-warning">Đã đóng gói</span> 
												<span th:case="'Shipping'" class="badge bg-primary">Đang giao hàng</span> 
												<span th:case="'Delivered'" class="badge bg-success">Đã giao hàng</span> 
												<span th:case="'Cancelled'" class="badge bg-danger">Đã hủy</span> 
												<span th:case="*">Chưa xác định</span>
										</span></td>

										<td class="text-center">
											<form action="/admin/update-order-status" method="post" class="mb-2">
												<div class="row gx-1">
													<div class="col-12 mb-1">
														<select class="form-select form-select-sm" name="st">
															<option value="">--Trạng thái--</option>
															<option value="1">Đang xử lý</option>
															<option value="2">Đã nhận đơn</option>
															<option value="3">Đã đóng gói</option>
															<option value="4">Đang giao</option>
															<option value="5">Hoàn tất</option>
															<option value="6">Đã hủy</option>
														</select>
													</div>
													<input th:value="${orderDtls.orderId}" name="orderId" type="hidden">
													<div class="col-12">
														<th:block th:if="${orderDtls.status=='Cancelled' || orderDtls.status=='Delivered'}">
															<button class="btn btn-primary btn-sm w-100 disabled">Cập nhật</button>
														</th:block>
														<th:block th:unless="${orderDtls.status=='Cancelled' || orderDtls.status=='Delivered'}">
															<button class="btn btn-sm btn-primary w-100">Cập nhật</button>
														</th:block>
													</div>
												</div>
											</form>
											<a th:href="@{'/admin/view-order?orderId=' + ${orderDtls.orderId}}" class="btn btn-sm btn-outline-info w-100"> 
												<i class="fa-solid fa-eye"></i> Xem chi tiết
											</a>
										</td>
									</tr>
								</th:block>
								<th:block th:unless="${orderDtls!=null}">
									<tr>
										<td colspan="6" class="text-center text-danger py-4">[[${errorMsg}]]</td>
									</tr>
								</th:block>
							</th:block>

							<th:block th:unless="${srch}">
								<tr th:each="o:${orders}">
									<th scope="row" class="text-primary">[[${o.orderId}]]</th>
									<td class="text-start">Họ tên: [[${o.orderAddress.firstName+' '+o.orderAddress.lastName}]]<br> 
										Email: [[${o.orderAddress.email}]] <br> 
										SĐT: [[${o.orderAddress.mobileNo}]] <br> 
										Địa chỉ: [[${o.orderAddress.address}]], [[${o.orderAddress.city}]], [[${o.orderAddress.state}]], [[${o.orderAddress.pincode}]]
									</td>
									<td>[[${o.orderDate}]]</td>
									<td>
										<span class="badge bg-secondary mb-1">[[${o.totalQuantity}]] sản phẩm</span> <br> 
										<span class="text-danger fw-bold">[[${#numbers.formatDecimal(o.totalAmount, 0, 'COMMA', 0, 'POINT')}]] VNĐ</span>
									</td>
									<td><span th:switch="${o.status}"> 
											<span th:case="'Pending'" class="badge bg-secondary">Đang xử lý</span> 
											<span th:case="'Received'" class="badge bg-info">Đã nhận đơn</span> 
											<span th:case="'Packed'" class="badge bg-warning">Đã đóng gói</span> 
											<span th:case="'Shipping'" class="badge bg-primary">Đang giao hàng</span> 
											<span th:case="'Delivered'" class="badge bg-success">Đã giao hàng</span> 
											<span th:case="'Cancelled'" class="badge bg-danger">Đã hủy</span> 
											<span th:case="*">Chưa xác định</span>
									</span></td>

									<td class="text-center">
										<form action="/admin/update-order-status" method="post" class="mb-2">
											<div class="row gx-1">
												<div class="col-12 mb-1">
													<select class="form-select form-select-sm" name="st">
														<option value="">--Trạng thái--</option>
														<option value="1">Đang xử lý</option>
														<option value="2">Đã nhận đơn</option>
														<option value="3">Đã đóng gói</option>
														<option value="4">Đang giao</option>
														<option value="5">Hoàn tất</option>
														<option value="6">Đã hủy</option>
													</select>
												</div>
												<input th:value="${o.orderId}" name="orderId" type="hidden">
												<div class="col-12">
													<th:block th:if="${o.status=='Cancelled' || o.status=='Delivered'}">
														<button class="btn btn-primary btn-sm w-100 disabled">Cập nhật</button>
													</th:block>
													<th:block th:unless="${o.status=='Cancelled' || o.status=='Delivered'}">
														<button class="btn btn-sm btn-primary w-100">Cập nhật</button>
													</th:block>
												</div>
											</div>
										</form>
										<a th:href="@{'/admin/view-order?orderId=' + ${o.orderId}}" class="btn btn-sm btn-outline-info w-100"> 
											<i class="fa-solid fa-eye"></i> Xem chi tiết
										</a>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>

					<th:block th:if="${!srch}">
						<div class="row">
							<div class="col-md-4">Tổng số đơn hàng: [[${totalElements}]]</div>
							<div class="col-md-6">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item" th:classappend="${isFirst} ? 'disabled':''">
											<a class="page-link" th:href="@{'/admin/orders?pageNo='+${pageNo-1}}" aria-label="Previous"> 
												<span aria-hidden="true">&laquo;</span>
											</a>
										</li>

										<th:block th:if="${totalPages > 0}">
											<li th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item" th:classappend="${pageNo+1==i}?'active':''">
												<a class="page-link" th:href="@{'/admin/orders?pageNo='+${i-1}}">[[${i}]]</a>
											</li>
										</th:block>

										<li class="page-item" th:classappend="${isLast} ? 'disabled':''">
											<a class="page-link" th:href="@{'/admin/orders?pageNo='+${pageNo+1}}" aria-label="Next"> 
												<span aria-hidden="true">&raquo;</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</section>
</body>
</html>