<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/base_admin::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Quản lý Người dùng</title>
</head>
<body>
	<section>
		<div class="container-fluid">
			<div class="card card-sh">
				<div class="card-header text-center">
					<p class="fs-4" th:if="${userType==1}">Quản lý Người dùng</p>
					<p class="fs-4" th:if="${userType==2}">Quản lý Cửa hàng</p>

					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold">[[${session.succMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
				</div>

				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover align-middle">
							<thead class="table-light">
								<tr>
									<th scope="col">STT</th>
									<th scope="col">Ảnh đại diện</th>
									<th scope="col">Họ và tên</th>
									<th scope="col">Liên hệ</th>
									<th scope="col">Địa chỉ (Tỉnh/Thành)</th>
									<th scope="col">Trạng thái</th>
									<th scope="col" class="text-center">Hành động</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="u,c:${users}">
									<th scope="row">[[${c.count}]]</th>
									<td><img th:src="@{'/img/profile_img/'+${u.profileImage}}"
										class="rounded-circle" width="60px" height="60px" alt="Avatar">
									</td>
									<td class="fw-bold">[[${u.name}]]</td>
									<td>
										<div>
											<i class="fa-solid fa-envelope text-muted"></i>
											[[${u.email}]]
										</div>
										<div>
											<i class="fa-solid fa-phone text-muted"></i>
											[[${u.mobileNumber}]]
										</div>
									</td>

									<td><span th:text="${u.state + ', ' +u.city }">Hà
											Nội, VN</span></td>

									<td><span class="badge bg-success" th:if="${u.isEnable}">Đang
											hoạt động</span> <span class="badge bg-danger"
										th:unless="${u.isEnable}">Ngừng hoạt động</span></td>
									<td><a th:href="@{'/admin/userDetails/' + ${u.id}}"
										class="btn btn-sm btn-info text-white mb-1"> <i
											class="fa-solid fa-eye"></i> Chi tiết
									</a> <br /> <a th:if="${!u.isEnable}"
										th:href="@{'/admin/updateSts?status=true&id='+${u.id}}+'&type='+${userType}"
										class="btn btn-sm btn-primary mb-1"> <i
											class="fa-solid fa-unlock"></i> Kích hoạt
									</a> <a th:if="${u.isEnable}"
										th:href="@{'/admin/updateSts?status=false&id='+${u.id}}+'&type='+${userType}"
										class="btn btn-sm btn-warning mb-1"> <i
											class="fa-solid fa-lock"></i> Vô hiệu
									</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>